<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %> 
<body>
    <%- include('../partials/navbar'); %> 
    <div class="content_body">
        <h1>Viewing <a href="/users/<%= user.id %> "><%= user.username %></a>'s anime list </h1>
        <table>
            <thead>
                <th>Anime Title</th>
                <th>Status</th>
                <th>Score</th>
                <th>Action</th>
            </thead>
<% list.forEach(li => { %>
            <tr>
                <td><a href="/anime/<%= li.mal_id %> "><%= li.anime_title %></a></td>
                <td><%= li.status_name %></td>
                <td><%= li.score %></td>
                <td><p>TEST</p></td>
            </tr>
<% }) %> 
        </table>
    </div>
</body>
<script>
    // console.log(list)
</script>
</html>