<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %> 
<body>
    <%- include('../partials/navbar'); %> 
    <div>
        <div class="content_body">
            <form>
                <label for="type">Type</label>
                <select name="type" id="type">
                    <option disabled selected>Select Anime Type</option>
                    <option value="tv">TV</option>
                    <option value="movie">Movie</option>
                    <option value="ova">OVA</option>
                    <option value="special">Special</option>
                    <option value="ona">ONA</option>
                    <option value="music">Music</option>
                </select>
    
                <label for="status">Status</label>
                <select name="status" id="status">
                    <option disabled selected>Select Anime Status</option>
                    <option value="airing">Airing</option>
                    <option value="complete">Complete</option>
                    <option value="upcoming">Upcoming</option>
                </select>
    
                <input type="submit" value="Submit">
            </form>
<% anime.forEach(anime => { %>
            <div class="anime_card" style="background-image: url('<%- anime.images.jpg.image_url %>');">
                <div class="anime_title">
                    <h3><a href="/anime/<%- anime.mal_id %>"><%- anime.titles[0].title %></a></h3>
                    <p>Score: <%- anime.score %></p>
                </div>
            </div> 
<% }) %> 
        </div>
    </div>
        
    <%- include('../partials/footer'); %> 
</body>
<script>
     const anime = <%- JSON.stringify(anime) %>;

</script>
</html>