<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %> 
<body>
    <%- include('../partials/navbar'); %> 

    <div class="content_body anime_content_body">
        <div class="anime_side">
            <img src="<%= anime.images.jpg.image_url %> " alt="">

<% if(loggedIn) { %> 
            <form>
                <h3>Add to List</h3>
                <select name="status">
                    <option disabled selected>Status</option>
                    <option value="1">Watching</option>
                    <option value="2">Completed</option>
                    <option value="3">On Hold</option>
                    <option value="4">Plan To Watch</option>
                    <option value="5">Dropped</option>
                </select>
    
                <select name="score">
                    <option disabled selected>Score</option>
<% for(let x = 1; x <= 10; x++) { %>
                    <option value="<%= x %>"><%= x %></option>
<% } %>
                </select>
    
                <input type="submit" value="Submit">
            </form>
            <p class="list_success_msg"></p>
<% } %> 

            <div class="anime_info">
                <p><span>Score:</span> <%= anime.score %></p>
                <p><span>Type:</span> <%= anime.type %></p>
                <p><span>Status:</span> <%= anime.status %></p>
                <p><span>Aired:</span> <%= anime.aired.string %></p>
                <p><span>Rating:</span> <%= anime.rating %></p>
                <p><span>Season Premiered:</span> <%= anime.season %> <%= anime.year %></p>
            </div>
        </div>

        <div class="anime_header">
            <h1><%= anime.titles[0].title %> </h1>
<% anime.genres.forEach(genre => { %>
            <span class="anime_header_genre"><%= genre.name %></span>
<% }) %> 
            
            <h2>Synopsis:</h2>
            <p><%= anime.synopsis %></p>

            <div class="anime_reviews">
                <h2>Reviews</h2>
                
<% if(reviews.length > 0) { %>  
    <% reviews.forEach(review => { %>
                <div>    
                    <h3><%= review.subject %></h3>
                    <p><%= review.content %></p>
                    <p>Written by: <a href="/users/<%= review.user_id %>"><%= review.username %></a></p>
                </div>
    <% }) %>
<% } else { %>
                <p>No reviews for now!</p>
<% } %>
                
                <form>
                    <p class="review_error_msg"></p>
                    <label for="subject">Subject:</label>
                    <input type="text" name="subject" id="subject">
                    
                    <label for="content">Content</label>
                    <textarea name="content" id="content"></textarea>

                    <input type="submit" value="Submit Review" class="button color_theme">
                </form>
            </div>
        </div>
        
    </div>
</body>

<script>
    const form = document.querySelector('.anime_side form');
    const reviewForm = document.querySelector('.anime_reviews form');
    const animeList = <%- JSON.stringify(list) %>
    const malID = JSON.parse('<%- JSON.stringify(anime.mal_id) %>');
    const title = JSON.parse('<%- JSON.stringify(anime.titles[0].title) %>');
    let userHasAnimeOnList = false;

    // check if anime already exists in a logged in user's anime list
    if (animeList !== null) {
        const currentAnime = animeList.find(anime => anime.mal_id === malID);
        const addFormTitle = document.querySelector('form h3');

        if (currentAnime) {
            addFormTitle.innerHTML = "Update Anime Status";
            userHasAnimeOnList = true;

            // reusable function to loop through the options
            const checkOptions = (selectElement, value) => {
                const options = selectElement.options;
                for (let x = 0; x < options.length; x++) {
                    if (options[x].text == value) {
                        options[x].selected = true;
                        break;
                    }
                }
            }

            // selects the respective option according to user's existing record in the database
            checkOptions(form.status, currentAnime.status_name);
            checkOptions(form.score, currentAnime.score);
        }
    }

    if (form) {
        form.addEventListener('submit', async e => {
            e.preventDefault();

            const status = form.status.value;
            const score = form.score.value;
            const successMsg = document.querySelector('.list_success_msg');

            successMsg.innerHTML = '';

            try {
                // values change depending if a user is logged in and if the anime already exists on their list
                const userID = animeList ? <%- JSON.stringify(id) %> : null;
                const method = animeList && userHasAnimeOnList ? 'PUT' : 'POST';
                const url = animeList && userHasAnimeOnList ? `/users/${userID}/anime_list/edit` : '/anime_list';

                const response = await fetch(url, {
                    method: method,
                    body: JSON.stringify({ status, score, malID, title }),
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await response.json();
                console.log(data)
                if (data.success === true) {
                    successMsg.innerHTML = 'List successfully updated!'
                }
            

            } catch (error) {
                
            }
        })
    }

    

    reviewForm.addEventListener('submit', async e => {
        e.preventDefault();

        console.log('test')

        const errorMsg = document.querySelector('.review_error_msg');
        const subject = reviewForm.subject.value;
        const content = reviewForm.content.value;

        errorMsg.innerHTML = '';

        const response = await fetch(`/anime/${malID}`,{
            method: "POST",
            body: JSON.stringify({ malID, subject, content }),
            headers: { 'Content-Type': 'application/json' }
        });
        const data = await response.json();
        
        if (data.error) {
            errorMsg.innerHTML = 'You need to log-in';
        }

        if (data.success === true) {
            window.location.reload();
        }
    })
</script>
</html>