<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %> 
<body>
    <%- include('../partials/navbar'); %> 

    <div class="content_body anime_content_body">
        <div class="anime_side">
            <img src="<%= anime.images.jpg.image_url %> " alt="">

<% if(loggedIn) { %> 
            <form>
                <h3>Add to List</h3>
                <select name="status">
                    <option disabled selected>Status</option>
                    <option value="1">Watching</option>
                    <option value="2">Completed</option>
                    <option value="3">On Hold</option>
                    <option value="4">Plan To Watch</option>
                    <option value="5">Dropped</option>
                </select>
    
                <select name="score">
                    <option disabled selected>Score</option>
<% for(let x = 1; x <= 10; x++) { %>
                    <option value="<%= x %>"><%= x %></option>
<% } %>
                </select>
    
                <input type="submit" value="Submit">
            </form>
            <p class="list_success_msg"></p>
<% } %> 
        </div>

        <div class="anime_info">
            <h2>Title: <%= anime.titles[0].title %> </h2>
            <p>MyAnimeList Score: <%= anime.score %></p>
            <p>Genres: 
<% anime.genres.forEach(genre => { %>
            <span><%= genre.name %>, </span>
<% }) %> 
            </p>
            <p>Type: <%= anime.type %></p>
            <p>Status: <%= anime.status %></p>
            <p>Aired: <%= anime.aired.string %></p>
            <p>Synopsis:</p>
            <p><%= anime.synopsis %> </p>
        </div>
        
    </div>
</body>

<script>
    const form = document.querySelector('form');
    const animeList = <%- JSON.stringify(list) %>
    const malID = JSON.parse('<%- JSON.stringify(anime.mal_id) %>');
    const title = JSON.parse('<%- JSON.stringify(anime.titles[0].title) %>');
    let userHasAnimeOnList = false;

    // check if anime already exists in a logged in user's anime list
    if (animeList !== null) {
        const currentAnime = animeList.find(anime => anime.mal_id === malID);
        const addFormTitle = document.querySelector('form h3');

        if (currentAnime) {
            addFormTitle.innerHTML = "Update Anime Status";
            userHasAnimeOnList = true;

            // reusable function to loop through the options
            const checkOptions = (selectElement, value) => {
                const options = selectElement.options;
                for (let x = 0; x < options.length; x++) {
                    if (options[x].text == value) {
                        options[x].selected = true;
                        break;
                    }
                }
            }

            // selects the respective option according to user's existing record in the database
            checkOptions(form.status, currentAnime.status_name);
            checkOptions(form.score, currentAnime.score);
        }
    }

    form.addEventListener('submit', async e => {
        e.preventDefault();

        const status = form.status.value;
        const score = form.score.value;
        const successMsg = document.querySelector('.list_success_msg');

        successMsg.innerHTML = '';

        try {
            // values change depending if a user is logged in and if the anime already exists on their list
            const userID = animeList ? <%- JSON.stringify(id) %> : null;
            const method = animeList && userHasAnimeOnList ? 'PUT' : 'POST';
            const url = animeList && userHasAnimeOnList ? `/users/${userID}/anime_list/edit` : '/anime_list';

            const response = await fetch(url, {
                method: method,
                body: JSON.stringify({ status, score, malID, title }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await response.json();
            console.log(data)
            if (data.success === true) {
                successMsg.innerHTML = 'List successfully updated!'
            }
           

        } catch (error) {
            
        }
    })
</script>
</html>