<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %> 
<body>
    <%- include('../partials/navbar'); %> 

    <!-- fullwidth slider -->

    <div class="slider owl-carousel owl-theme">
 <% for(let x = 0; x < 3; x++) { %> 
        <div class="item">
            <div class="slider_background" style="background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.623)), url('<%= airingAnime[x].trailer.images.maximum_image_url %>');"></div>
            <div class="slider_content">
                <div class="slider_content_text">
<% airingAnime[x].genres.forEach(genre => { %>
                    <span class="genre color_theme"><%= genre.name %></span>
<% }) %>    
                    <h1><%= airingAnime[x].title %></h1>
                    <p class="slider_synopsis"><%= airingAnime[x].synopsis %></p>
                    <p class="slider_button color_theme"><a href="/anime/<%= airingAnime[x].mal_id %>">View Details</a></p>
                </div>
                <iframe src="<%= airingAnime[x].trailer.embed_url %>" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
            
        </div>
<% } %>   
    </div>

    <div class="home_main content_body">
        <h2>Top Airing</h2>
        <div class="owl-carousel featured-carousel">
<!-- todo: break these into partials -->
<% airingAnime.forEach(anime => { %>
            <div class="anime_card" style="background-image: url('<%- anime.images.jpg.image_url %>');">
                <div class="anime_title">
                    <h3><a href="/anime/<%- anime.mal_id %>"><%- anime.titles[0].title %></a></h3>
                    <p>Score: <%- anime.score %></p>
                </div>
            </div> 
<% }) %> 
        </div>

        <h2>Top Rated</h2>
        <div class="owl-carousel featured-carousel">
<% topAnime.forEach(anime => { %>
            <div class="anime_card" style="background-image: url('<%- anime.images.jpg.image_url %>');">
                <div class="anime_title">
                    <h3><a href="/anime/<%- anime.mal_id %>"><%- anime.titles[0].title %></a></h3>
                    <p>Score: <%- anime.score %></p>
                </div>
            </div> 
<% }) %> 
        </div>

        <h2>Top Upcoming</h2>
        <div class="owl-carousel featured-carousel">
<% topUpcoming.forEach(anime => { %>
            <div class="anime_card" style="background-image: url('<%- anime.images.jpg.image_url %>');">
                <div class="anime_title">
                    <h3><a href="/anime/<%- anime.mal_id %>"><%- anime.titles[0].title %></a></h3>
                </div>
            </div> 
<% }) %> 
        </div>


    </div>
    <%- include('../partials/footer') %>  
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    // for the anime carousel
    $(document).ready(function(){
        $(".featured-carousel").owlCarousel({
            items: 5,
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items:1
                },
                600: {
                    items:2
                },
                800: {
                    items:3
                },
                1200: {
                    items: 5
                },
                1900: {
                    items: 6
                }
            }
        });

        $(".slider").owlCarousel({
 
            navigation : true, // Show next and prev buttons

            slideSpeed : 300,
            paginationSpeed : 400,

            items : 1, 
            itemsDesktop : false,
            itemsDesktopSmall : false,
            itemsTablet: false,
            itemsMobile : false

        });

    });
</script>
</html>