<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %> 
<body>
    <%- include('../partials/navbar'); %> 
    <div class="home_main content_body">
        <h1>home page</h1>
        <h2>Top Airing</h2>
        <div class="home_img_container">
<% animeData.forEach(anime => { %>
            <a href="/anime/<%- anime.mal_id %>">
                <img src="<%- anime.images.jpg.image_url %>" alt="">
            </a>
<% }) %> 
        </div>

    </div>
    <%- include('../partials/footer') %>  
</body>
<script src="/scripts/search.js"></script>
</html>