<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %> 
<body>
    <%- include('../partials/navbar'); %> 
    <div class="home_main content_body">
        <h2>Top Airing</h2>
        <div class="owl-carousel">

<!-- todo: break these into partials -->
<% airingAnime.forEach(anime => { %>
            <div class="anime_card" style="background-image: url('<%- anime.images.jpg.image_url %>');">
                <div class="anime_title">
                    <h3><a href="/anime/<%- anime.mal_id %>"><%- anime.titles[0].title %></a></h3>
                    <p>Score: <%- anime.score %></p>
                </div>
            </div> 
<% }) %> 
        </div>

        <h2>Top Rated</h2>
        <div class="owl-carousel">
<% topAnime.forEach(anime => { %>
            <div class="anime_card" style="background-image: url('<%- anime.images.jpg.image_url %>');">
                <div class="anime_title">
                    <h3><a href="/anime/<%- anime.mal_id %>"><%- anime.titles[0].title %></a></h3>
                    <p>Score: <%- anime.score %></p>
                </div>
            </div> 
<% }) %> 
        </div>

        <h2>Top Upcoming</h2>
        <div class="owl-carousel">
<% topUpcoming.forEach(anime => { %>
            <div class="anime_card" style="background-image: url('<%- anime.images.jpg.image_url %>');">
                <div class="anime_title">
                    <h3><a href="/anime/<%- anime.mal_id %>"><%- anime.titles[0].title %></a></h3>
                </div>
            </div> 
<% }) %> 
        </div>


    </div>
    <%- include('../partials/footer') %>  
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/scripts/search.js"></script>
<script>
    $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
            items: 5,
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items:1
                },
                600: {
                    items:2
                },
                800: {
                    items:3
                },
                1200: {
                    items: 5
                },
                1900: {
                    items: 7
                }
            }
        });
    });
</script>
</html>