<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/navbar') %> 
    <div class="content_body">
        <h1>PROFILE</h1>
        
        <div class="profile_details">
            <img src="https://icon-library.com/images/default-profile-icon/default-profile-icon-24.jpg" alt="" class="profile_picture">

            <div>
                <p>Username: <%= profileUsername %></p>
                <p>Join Date: <%= profileJoinDate %></p>
            </div>
            
        </div>
        

        <div class="anime_list_main">
            <h1><%= profileUsername %>'s Anime List </h1>
            <select id="anime_list_sort">
                <option disabled selected>Sort by:</option>
                <option value="name">Name</option>
                <option value="score">Score</option>
                <option value="status">Status</option>
            </select>
            <table class="anime_list_table">
                <thead class="color_theme">
                    <th>Anime Title</th>
                    <th>Status</th>
                    <th>Score</th>
                </thead>
    <% list.forEach(li => { %>
                <tr class="anime_list_table_row">
                    <td><a href="/anime/<%= li.mal_id %>"><%= li.anime_title %></a></td>
                    <td><%= li.status_name %></td>
                    <td><%= li.score %></td>
                </tr>
    <% }) %> 
            </table>
        </div>
    </div>
    
</body>
</html>

